<h1><%= User.model_name.human(count: 2) %></h1>
<div class="form-group">
  <%= link_to t('actions.create'), new_user_path, class: "btn btn-primary" %>
</div>
<table class="table table-striped table-hover">
  <tr>
    <th>Id</th>
    <th><%= User.human_attribute_name(:last_name) %></th>
    <th><%= User.human_attribute_name(:first_name) %></th>
    <th><%= User.human_attribute_name(:middle_name) %></th>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:sex) %></th>
    <th><%= User.human_attribute_name(:dob) %></th>
    <th colspan="3"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.middle_name %></td>
      <td><%= user.email %></td>
      <td><%= user.sex %></td>
      <td><%= user.dob %></td>
      <td><%= link_to '', user_path(user), class: "glyphicon glyphicon-eye-open", title: t('actions.view')  %></td>
      <td><%= link_to '', edit_user_path(user), class: "glyphicon glyphicon-pencil", title: t('actions.edit') %></td>
      <td><%= link_to '', user_path(user), class: "glyphicon glyphicon-trash", title: t('actions.delete'),

        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="9">
      <%= paginate @users %>
    </td>
</table>
