<%= form_with model: @parent, local: true do |form| %>

  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@parent.errors.count, "error") %> prohibited
        this parent from being saved:
      </h2>
      <ul>
        <% @parent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= form.label :user_id %><br>
    <%= collection_select(:parent, :user_id, User.all, :id, :full_name, {}, { class: 'form-control'}) %>
  </div>

  <div class = "form-group">
    <%= form.label :student_ids %><br>
    <%= collection_select(:parent, :student_ids, Student.ordered, :id, :short_name, {}, { class: 'form-control', multiple: true, size: 11}) %>
  </div>

  <div class = "form-group">
    <%= form.label :parent_style %><br>
    <%= form.text_field :parent_style, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= form.submit t('actions.save'), class: "btn btn-primary" %>
    <%= link_to t('actions.back'), :back, class: "btn btn-default" %>
  </div>

<% end %>